{% extends "base.html.twig" %}
{% block content %}
  <div class="container">
    <header>
      <h1>Team Stationary to-do list</h1>

      <p>Add a new to-do item to the list:</p>

      <form class="add-todo" action="{{ path('create_task') }}" method="post">
        <div class="form-group">
          <input type="text" name="title" id="myInput" placeholder="Task title..." />
          <button type="submit" class="todo-btn">
            <i class="fa-regular fa-square-plus"></i>
          </button>
        </div>
      </form>
    </header>


    <ul>

      {% for task in tasks %}
      <li class="todos-list-item">
        <span {% if task.status %} class="complete" {% endif %}>{{task.title}}</span>
        <div class="icon-group">
          <a href="{{path('update_task', {'id': task.id})}}">
            <i {% if task.status %}
                  class="fa-regular fa-square-check"
              {% else %} 
                  class="fa-regular fa-square"
              {% endif %} ></i></a>
          <a onclick="return confirm('Are you want sure to delete?')" href="{{path('delete_task', {'id': task.id})}}">
            <i class="fa-regular fa-trash-can delete"></i></a>
        </div>
      </li>
      {% endfor %}

    </ul>
  </div>
{% endblock %}